@{
    ViewData["Title"] = "Home Page";
}

@model RedisCacheExample.Models.SessionModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter your name and email to continue</p>
    <div class="card">
        <div class="card-header">
            <h3>Session Information</h3>
        </div>
         @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Name, "Name:")
                        @Html.TextBoxFor(model => model.Name, htmlAttributes: new {@class="form-control"})

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "Email Address:")
                        @Html.TextBoxFor(model => model.Email, htmlAttributes: new {@class="form-control"})

                    </div>
                    <div class="form-group">
                        <button type="submit" class="button btn btn-primary">Submit</button>
                    </div>
                </div>
            }
    </div>
</div>
